*{
    overflow-x: hidden;
}
.home__bg {
    background-image:url('../assets/home-image-bg.jpg');
    height: 83.3vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.home-message-icon {
    margin-left: 10px;
    display: inline-block;
}
h1{
    overflow: hidden;
}