*{
    overflow: hidden;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.login__bg{
    background-image: url('../assets/login-image-bg.jpg');
    height: 83.3vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}